<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /proyectos/2025/yeraipadial/Gym/FinalGym/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /proyectos/2025/yeraipadial/Gym/FinalGym/index.html [L]
</IfModule>
