/*Estructura general de la pagina*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

/*Cursor para mis inputs*/
input {
    caret-color: rgb(59, 59, 151);
}

/*Cuerpo de la pagina*/
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;
    overflow: hidden;
    background: #ecf0f3;
}

/*Cuerpo del Login/Registro*/
.container {
    position: relative;
    width: 450px;
    height: 650px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.container-Reg {
    position: relative;
    width: 450px;
    height: 790px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.container-Pas {
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

/*Cuerpo del logo*/
.brand-logo {
    height: 100px;
    width: 100px;
    background-image: url('ejJ.png');
    background-size: cover;
    background-position: center;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 8px 8px 11px #cbced1, -8px -8px 11px white;
}

/*Cuerpo del titulo*/
.brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: rgb(59, 59, 151);
    letter-spacing: 1px;
}

/*Cuerpo de los inputs*/
.inputs {
    text-align: left;
    margin-top: 30px;
}

/*Cuerpo de los inputs, label y button*/
label,
input,
button {
    width: 100%;
    display: block;
    padding: 0;
    margin: 10px 0;
    border: none;
    outline: none;
}

/*Cuerpo de los label*/
label {
    margin-bottom: 4px;
}

/*Cambio el color del placeholder*/
input::placeholder {
    color: gray;
}

/*Cuerpo del segundo label*/
label:nth-of-type(2) {
    margin-top: 12px;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

/*Cuerpo del boton*/
button {
    color: white;
    margin-top: 20px;
    background: rgb(59, 59, 151);
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

button:hover {
    box-shadow: none;
    transform: scale(1.05);
}

.fade-out {
    opacity: 9;
    background-color: initial;
    /* Asegúrate de que el color inicial esté definido */
    transition: opacity 3s ease-out, background-color 3s ease-out;
}

.fade-out.hidden {
    opacity: 0;
    background-color: #ffffff;
    /* Color más claro al que quieres cambiar */
}

.container-small {
    width: 300px !important;
    height: 400px !important;
    transition: width 0.5s, height 0.5s;
    /* Añadir transición para suavizar el cambio */
}

.container-large {
    width: 850px !important;
    height: 900px !important;
    transition: width 0.5s, height 0.5s;
    /* Añadir transición para suavizar el cambio */
}


/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {

    .container,
    .container-Reg,
    .container-Pas {
        width: 80%;
        height: auto;
        padding: 30px;
    }

    .brand-logo {
        height: 90px;
        width: 90px;
    }
}

@media (max-width: 768px) {

    .container,
    .container-Reg,
    .container-Pas {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .brand-logo {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 480px) {

    .container,
    .container-Reg,
    .container-Pas {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .brand-logo {
        height: 60px;
        width: 60px;
    }
}


/* Contenedor para el campo de contraseña y el botón */
.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

/* Estilos específicos para el botón togglePasswordNew */
#togglePasswordNew {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border: none;
    background: url('https://img.icons8.com/?size=100&id=24453&format=png&color=000000') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: 0.3s;
}

#togglePasswordNew:hover {
    transform: scale(1.05);
}